<h1><%= current_user.name %>'s Profile</h1>
<div class="alinacenter">
<h3>Your Saved Designers</h3>
<table class="table table-striped" style="width: 40%">
  <% current_user.favorites.each do |favorite| %>
   <% designer = User.find(favorite.user_id) %>
  <tr>
    <td> <%= designer.name %></td>
    <td><a href="/users/message/<%= designer.id %>"><i class="icon-envelope"></i></a></td>
    <td>



      <%= form_tag('/search', method: 'post') do %>

          <%= hidden_field_tag(:favorite_id, designer.id) %>

              <%= button_tag(type: 'submit', class: 'buttonless') do %>
                  <i class="icon-remove"></i>
              <% end %>
          <i class="icon-remove-circle"></i> <i class="icon-remove"></i> <i class="icon-remove-sign"></i>
         <% end %>
    </td>
  </tr>
      <% end %>
</table>
</div>

<% if current_user.role == "Client" %>

    <h3>Search for Designers</h3>

    <%= form_tag('/users/search', method: 'get') do %>

        <%= text_field_tag(:name, nil ,:placeholder => 'Search a design style') %><br />
        <%= submit_tag 'Search', class: 'btn btn-inverse' %>
    <% end %>
    <%= render 'results' %>
<% end %>


