<h1><%= current_user.name %></h1>

<% if current_user.tags.length >= 1 %>
<ul class="nodots">
  <li>Tagged with:</li>
          <ul class="regular">
            <% current_user.tags.each do |tag| %>
                <li><i class="icon-tag"></i> <%= tag.name %></li>
            <% end %>
          </ul>
</ul>
<% end %>


<%= form_for @tag, url: add_tag_path do |f| %>
    <%= f.text_field :name, :placeholder => "Add a Tag" %><br />
    <%= f.submit 'Add Tag', class: 'btn btn-inverse'  %>
<% end %>


<h2>Portfolio Images</h2>
<% current_user.portfolios.each do |portfolio| %>
    <div class="instaclass"><%= image_tag portfolio.image_path, class: 'img-polaroid' %></div>
<% end %>


<h4>Add Instagram Images to Your Portfolio</h4>
<%= form_tag('/designers/profile/results', method: 'post') do %>
    <%= text_field_tag(:name, nil ,:placeholder => 'Search for your Instagram') %>
    <%= submit_tag 'Search', class: 'btn btn-inverse'  %>
<% end %>
